<mat-toolbar color="primary" class="toolbar">
  <div class="logo-container">
    <span class="title">HELPRESS</span>
  </div>
  
  <span class="spacer"></span>
  
  <button mat-button class="btn-redondo">Inicio</button>
  <button mat-button class="btn-redondo">Servicios</button>
  <button mat-button class="btn-redondo">Iniciar sesión</button>
  <button mat-stroked-button color="accent" class="btn-redondo">Registrarse</button>
  <button mat-raised-button color="warn" class="btn-redondo">Soy técnico</button>
</mat-toolbar>
