<div class="container">
  <mat-card>
    <mat-card-title class="text-center">¿Qué servicio necesitas?</mat-card-title>
        <mat-card-content>  
                <form [formGroup]="formulario" (ngSubmit)="enviar()" class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" placeholder="Escribe tu nombre" />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input matInput type="email" formControlName="correo" placeholder="ejemplo@email.com" />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Descripción de servicio</mat-label>
                    <input matInput formControlName="descripcion" placeholder="Escribe una breve descripción del servicio" />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Servicio</mat-label>
                    <mat-select formControlName="servicio">
                    <mat-option value="plomeria">Plomería</mat-option>
                    <mat-option value="electricidad">Electricidad</mat-option>
                    <mat-option value="jardineria">Jardinería</mat-option>
                    <mat-option value="limpieza">Limpieza</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit">Pedir presupuesto</button>
                </form>
    </mat-card-content>
  </mat-card>
</div>