.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  margin: auto;
}

/* form.component.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

mat-card {

  padding: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  background-color: #ece0c8; 

}
.full-width {
  width: 100%;
}

.titulo-card {
  justify-content: center;
  text-align: center;
 
  padding: 10px;
  border-radius: 8px;
}

mat-card-title {
  font-size: 1.8rem;  /* Tamaño de letra más grande */
  font-weight: bold;  /* Negrita */
  color: orange;     /* Azul Material Design */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: orange;
}

/* Botón redondeado y estilizado */
.btn-redondo {
  border-radius: 5px;
  
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 500;
   background-color: orange;
}